.cabeçario {
  margin: auto;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

.yoga {
  color:white;
}


.barra {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #21a51e;
  margin: auto;
  text-align:end;
}
.centro {
  width: 880px;
  margin:auto;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 100px;
  text-align: center;
}

.texto {
  font-family:'Courier New', Courier, monospace;
  color: #21a51e;
  text-align: center;
}

.rodape {

}
 .city {
   font-size: 20px;
 }