.cabeçario {
  margin: auto;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #21a51e;
  font-size: 20px;
}

.yoga {
  color:white;
}

.barra {
  display:flex;
  justify-content:space-evenly;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  color: #21a51e;
  margin: auto;
  text-align:center;
  padding-left: 100px;
  padding-right: 100px;
}
.centro {
  width: 900px;
  margin:auto;
  background-color: white;
  display: flex;
  justify-content:center;
  font-size: 90px;
  text-align: left;
  color: #21a51e;
  font-style:inherit;
}
.centr {
  width: 900px;
  margin:auto;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  color:#315f52;
  font-style:inherit;
  
}
/*.roxa {
  width: 400px;
  height: 20px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}*/

.texto {
  font-family:'Courier New', Courier, monospace;
  color: #21a51e;
  text-align: center;
}
.text {
  font-family:'Courier New', Courier, monospace;
  color: #315f52;
  text-align: center;
}
.textoclasse {
  font-family:'Courier New', Courier, monospace;
  color: #315f52;
  text-align: center;
}
}


.rodape {
 width: 400px;
 display: flex;
justify-content: center;
margin: auto;
   
}
 .city {
   font-size: 20px;
   color: #21a51e;
   
   
 }
.link  {
  color: #21a51e;
}
 .link:hover {
   background-color: darkmagenta;
 }