
.cabeçalho {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(226, 241, 16);
  width: 1200px;
  height: 100px;
  margin:auto;
  display: flex; 
  text-align:right;
}
.links {
  display: flex; 
  text-align:right;
}

.textolatim {

  font-family: 'Courier New', Courier, monospace;
  width: 1280px;
  height: 200px;
  margin:auto;
  background-color: blue;
  display: flex; 

.barralateral {
  width: 200px;
  display: flex;
}

.desenvolvedor {
  width: 1280px;
  height: 50px;
  margin:auto;
  background-color: cornsilk;
  display: flex;

