.pagina {
  margin: auto;
  
}

.cabeçario {
  margin: auto;
  width: 1100px;
  height: 120px;
  background-color: rgb(176, 181, 201);
  display: flex;
  justify-content:space-between;
  text-align:center;
  padding-top: 20px;
}

.center {
margin: auto;
padding: 2%;
display: flex;
justify-content: space-between;
}

.header li {
  display: inline-block;
  margin: 10px;
}
.header a {
  text-decoration:none;
  color: white;
}

.body {
  
  
  
}