#header {
  text-align:center;
  margin-top: 50px;
  
  
}
ul {
  margin: 0%;
  padding: 0%;
  display: inline;
}

 li { 
  list-style: none;
  display: inline;
  
}

li a {
  margin: 40px;
  border: 0px solid;
  list-style: none;
  color: #d9e6e2;
  text-decoration: none;
  font-size: 20px;

}  

li a hover {
  color: #077054;
  background-color : none;
}
  

/* li {
  float: right;
  list-style: none;
  padding: 20px;
  margin: 5px;  */
   /* NOVO MODELO DE MENU */

body {
  color: white;
  background-color: #077054;
  font-size: 20px;

 
}
#corpo {
  background-color: white;
  color:#077054;
  max-width: 880px;
  min-height: 827px;
  padding: 45px 40px 46px;
  margin-left: 150px;
  display: flex;
  justify-content:center;
  
}


#campo {
  background-color: white;
  color:#077054;
  max-width: 880px;
  min-height: 827px;
  padding: 45px 40px 46px;
  margin-left: 150px;
  display: flex;
  justify-content:center;
} 





#tagline {
  text-align:center;
  background-color: #fcfcfc;
  margin:0px 125px;
  display: flex;
  font-size: 35px;
  font-family:nixie_oneregular;
  padding-top: 90px;
  padding-bottom: 190px;
  color: #077054;
  
}

#taglineabout {
  background-color: #fcfcfc;
  margin:0px 125px;
  display: flex;
  font-size: 35px;
  font-family:nixie_oneregular;
  color:#21a51e;
  text-decoration: white;
  padding: 10px;
 

}
#taglineclass {
  background-color: #fcfcfc;
  margin:0px 125px;
  display: flex;
  font-size: 35px;
  font-family:nixie_oneregular;
  color: #315f52;
  text-decoration: white;
  padding: 10px;
}

#taglineblog {
   
    background-color: #fcfcfc;
    margin:0px 125px;
    display: block;
    font-size: 35px;
    font-family:nixie_oneregular;
    padding-left: 60px;
    padding-top: 90px;
    padding-bottom: 70px;
    color: #077054;
    
}
 
#i1 {
  float: left;
}

a:hover {
  color: #077054;
  text-decoration: none;
}


#footer {
  text-align:left;
  margin-left: 125px;
   margin-top: 30px; 
   margin:40px 150px 0px 150px;
  display: flex;
  justify-content: space-between;

}
span {
  
  font-size: 30px;
  
}
  #connect {
    margin: 10px;
  }
  .About {
    margin-top: 40px;
  color: #315f52;
  text-align: left;
  margin-left: 50px ;
  font-size: 40px;
  }

  .subtitulo {
    color:#315f52;
  text-align: left;
  margin-left: 50px ;
  font-size: 40px;
  
  }


p {
  font-size: 17px;
  color: #077054;
  text-align: left;
  margin-left: 50px ;
  
}

.footer {
  color: #21a51e;
  font-size: 15px;
  text-decoration: white;
  text-align: left;
  font-family: 'latoregular';
}

#section {
  float: left;
  list-style: none;
  overflow:hidden ;

}

 form input#send {
  background: #077054;
  border: none;
  border-radius: 5px;
  color: #99fa99;
  cursor: pointer;
  font-family: 'latoregular';
  font-size: 14px;
  float: right;
  height: 30px;
  margin: 8px 0 0;
  width: 50px; 
  
  }

 #send:hover {
   color:white;
   background-color:rgb(192, 113, 192) ;
 }

 li:hover {
  color:white;
  background-color:rgb(192, 113, 192) ;
 }