#header {
  text-align:center;
  margin-top: 50px;
  
  
}
ul {
  margin: 0%;
  padding: 0%;
  display: inline;
}

 li { 
  list-style: none;
  display: inline;
  
}

li a {
  margin: 40px;
  border: 0px solid;
  list-style: none;
  color: #d9e6e2;
  text-decoration: none;
  font-size: 20px;

}  

li a hover {
  color: #077054;
  background-color : none;
}
  

/* li {
  float: right;
  list-style: none;
  padding: 20px;
  margin: 5px;  */
   /* NOVO MODELO DE MENU */

body {
  color: #d9e6e2;
  background-color: #077054;;
}

#tagline {
  text-align:center;
  background-color: #fcfcfc;
  margin:0px 125px;
  display: flex;
  font-size: 35px;
  font-family:nixie_oneregular;
  padding-top: 90px;
  padding-bottom: 190px;
  color: #21a51e;

}


#footer {
  text-align:left;
  margin-left: 125px;
   margin-top: 30px; 
   margin:40px 125px 0px 125px;
  display: flex;
  justify-content: space-between;

}
span {

  font-size: 40px;
}
  #connect {
    margin: 10px;
  }
  

  