#header {
  display: inline;
  position: relative;
}

body {
  color:#315f52;
  background-color: #077054;
  margin:auto
  padding: 0%;
  font-size: 14px;
}
#current {
  display: inline;
  position: relative;
}

.tagline {
 
}